# Accelerate 配置 - 单机 4 卡 DeepSpeed ZeRO-2
# 使用: accelerate launch --config_file configs/accelerate_config.yaml src/train.py

compute_environment: LOCAL_MACHINE
debug: false
deepspeed_config:
  deepspeed_config_file: configs/ds_config_zero2.json
  zero3_init_flag: false
distributed_type: DEEPSPEED
downcast_bf16: "no"
enable_cpu_affinity: false
machine_rank: 0
main_process_ip: null
main_process_port: 29500
main_training_function: main
mixed_precision: bf16
num_machines: 1
num_processes: 4
rdzv_backend: static
same_network: true
tpu_env: []
tpu_use_cluster: false
tpu_use_sudo: false
use_cpu: false
